<div class="container">
    <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Add album</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text"  [(ngModel)]="title" class="form-control">
                    <textarea  [(ngModel)]="textarea" class="form-control" cols="30" rows="5"></textarea>
<!--             
                    <input accept="image/*" type='file' class="form-control-file" (change)="coverage($event)" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Album cover</small> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                <button class="btn btn-primary" (click)="addAlbum(title, textarea, $event)">Add album</button>
            </div>
    </ng-template>            
              
              

    <h1>Photo galery</h1>
    <h5 class="alert alert-info">Press button to add new album</h5>
    <button class="btn btn-primary" (click)="open(content)">Press me!</button>
    <album-comp></album-comp>
</div>