fa {
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 5px;
}
.jumbotron {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: inherit;
    top: 0px;
    right: 0px;
}
.deleteItem {
    display: none;
}
.card-img-top {
    width: 318px;
    height: 180px;
    -webkit-background-size: cover;
    background-size: cover;
}
.card {
    display: inline-block;
    margin: 15px;
}
.cards {
    display: inline-block;    
}
.cover-albums {    
    position: relative;
}